# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.db
*.sqlite

# Node
node_modules/
npm-debug.log*
dist/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Database
*.db
